@model QUANLYTHUVIEN.Models.Phieumuonsach

@{
    ViewData["Title"] = "Edit";
}

<h1>Sửa Thông tin phiếu mượn sách</h1>

<
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Maphieu" />
            <div class="form-group">
                <label asp-for="ReaderName" class="control-label"></label>Tên Độc Giả
                <select asp-for="ReaderName" class="form-control" asp-items="ViewBag.ReaderName"></select>
                <span asp-validation-for="ReaderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"> Người Lập Phiếu</label>
                <select asp-for="EmployeeName" class="form-control" asp-items="ViewBag.EmployeeName"></select>
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"> danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
